<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>Home | Blog.Stockslify</title>
</head>

<body>
  <%- include("./partials/nav") %>
    <%- include("./partials/heroSec") %>

      <div class="container mt-4">
        <div class="card-wrapper">
          <% blogs.forEach(blog=> { %>

            <div class="card">
              <img src=" <%= blog.coverImageUrl %> " class="card-img" alt="" width="400" />
              <div class="card-body">
                <h5 class="card-title">
                  <%= blog.title %>
                </h5>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
              </div>
            </div>


            <% }) %>
        </div>
      </div>
      <%- include("./partials/scripts") %>
</body>

</html>