<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>Home | Blog.Stockslify</title>
</head>

<body class="light">
  <header><%- include("./partials/nav") %></header>
  <main class="container">
    <section class="hero-section">
      <p>Latest</p>
      <h1>Discover the Best Stocks</h1>
      <p>updated with the latest news and analysis</p>
      <h3>Featured blog posts</h3>
      <div class="hero-posts">
        <div class="hero-main">
          <img
            src=" https://images.pexels.com/photos/6801648/pexels-photo-6801648.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 "
            class="hero-img" alt="" width="610" />
          <p>Categories</p>
          <span>5 min Read</span>
          <h2>The Power of Compound Interest</h2>
          <p>Learn how to grow your wealth through compound interest</p>
          <a href="/">Read more &gt;</a>
        </div>
        <div class="hero-side">
          <div class="hero-side-card">
            <img
              src="https://images.pexels.com/photos/6801874/pexels-photo-6801874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="" width="295" height="161" />
            <div class="hero-side-content">
              <p>Categories</p>
              <span>5 min Read</span>
              <h3>The Power of Compound Interest</h3>
              <a href="/">Read more &gt;</a>
            </div>
          </div>
          <div class="hero-side-card">
            <img
              src="https://images.pexels.com/photos/6801874/pexels-photo-6801874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="" width="295" height="161" />
            <div class="hero-side-content">
              <p>Categories</p>
              <span>5 min Read</span>
              <h3>The Power of Compound Interest</h3>
              <a href="/">Read more &gt;</a>
            </div>
          </div>
          <div class="hero-side-card">
            <img
              src="https://images.pexels.com/photos/6801874/pexels-photo-6801874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="" width="295" height="161" />
            <div class="hero-side-content">
              <p>Categories</p>
              <span>5 min Read</span>
              <h3>The Power of Compound Interest</h3>
              <a href="/">Read more &gt;</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="latest-posts-section">
      <h2>Latest blog posts</h2>
      <div class="card-wrapper">
        <% blogs.forEach(blog=> { %>

          <div class="blog-card">
            <div class="img">
              <img src=" <%= blog.coverImageUrl %> " class="card-img" alt="" width="505" height="300" />
            </div>
            <div class="card-content">
              <span>Categories</span>
              <span class="text-body-secondary">Last updated 3 mins ago</span>
              <h1 class="card-title raleway-heading">
                <%= blog.title %>
              </h1>

              <p class="card-text andika-regular">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officia incidunt facilis itaque molestias odit vel, velit
                voluptatibus. Debitis aut sequi est cupiditate, ullam
                repellendus voluptatibus tempora?
              </p>
              <a href="/blog/<%= blog._id %>" class="button">Full Coverage</a>
            </div>


          </div>

          <% }) %>
      </div>
    </section>
  </main>
  <section class="pagination">
    <span>
      View More
      <i class="ri-skip-down-line"></i>
    </span>
  </section>
  <section class="page-newsletter">
    <div class="newsletter-container">
      <h2>Subscribe to Our Newsletter</h2>
      <p>
        Get the latest updates, news, and exclusive content delivered straight
        to your inbox.
      </p>
      <form action="#" method="post" class="newsletter-form">
        <input type="email" name="email" placeholder="Enter your email" required />
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </section>

  <footer>
    <div class="container"><%- include("./partials/footer") %></div>
  </footer>

  <%- include("./partials/scripts") %>
</body>

</html>